@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: 'apercu';
    src: url('/font/Proxima/ProximaNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'apercu';
    background-color: #FFFBF0;
}

.btn-belanja {
    border: 1px solid white;
    color: white;
    font-weight: 600;
    transition: color 0s ease 0s, background-color 300ms ease 0s;
    transition-property: color, background-color;
    transition-duration: 0s, 300ms;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.btn-belanja:hover {
    background: white;
}